
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Flights</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Flights</li>
              </ol>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Projects of the Month -->
          <!-- ============================================================== -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="up-img" style="background-image:url(../assets/images/big/f1.jpg)"></div>
                    <div class="card-body">
                      <h5 class=" card-title">Singapore to Yangon</h5>
                      <span class="label label-info label-rounded">Travel</span>
                      <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now.</p>
                      <div class="d-flex m-t-20">
                        <a class="link" href="javascript:void(0)">Read more</a>
                        <div class="ml-auto align-self-center">
                          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="up-img" style="background-image:url(../assets/images/big/f2.jpg)"></div>
                    <div class="card-body">
                      <h5 class=" card-title">Bangkok to Yangon</h5>
                      <span class="label label-info label-rounded">Travel</span>
                      <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now..</p>
                      <div class="d-flex m-t-20">
                        <a class="link" href="javascript:void(0)">Read more</a>
                        <div class="ml-auto align-self-center">
                          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                          <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
              <div class="card">
                <div class="up-img" style="background-image:url(../assets/images/big/f3.jpg)"></div>
                <div class="card-body">
                  <h5 class=" card-title">Singapore to Bangkok</h5>
                  <span class="label label-info label-rounded">Travel</span>
                  <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now.</p>
                  <div class="d-flex m-t-20">
                    <a class="link" href="javascript:void(0)">Read more</a>
                    <div class="ml-auto align-self-center">
                      <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                      <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f4.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">Yangon to Mandalay</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now..</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f5.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">Yangon to Pathein</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now..</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f6.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">China to India</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now.</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f7.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">Japan to Singapore</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now..</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f8.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">USA to UK</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now.</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                  <div class="up-img" style="background-image:url(../assets/images/big/f9.jpg)"></div>
                  <div class="card-body">
                    <h5 class=" card-title">Russia to Thiland</h5>
                    <span class="label label-info label-rounded">Travel</span>
                    <p class="m-b-0 m-t-20">See all the flight options and set a Price Alert Now.</p>
                    <div class="d-flex m-t-20">
                      <a class="link" href="javascript:void(0)">Read more</a>
                      <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Column -->

          </div>
          <!-- ============================================================== -->
