<aside class="left-sidebar">
    <div class="scroll-sidebar">
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li [class.active]="menuname=== 'dashboard'"> <a class="waves-effect waves-dark" (click)="checkActive('dashboard')" routerLink="dashboard" aria-expanded="false"><i
                class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
          </li>
          <li [class.active]="menuname === 'flights'"> <a class="waves-effect waves-dark" (click)="checkActive('flights')" routerLink="flights" aria-expanded="false"><i
                class="fa fa-users" ></i><span class="hide-menu">User Module</span></a>
          </li>
          <li [class.active]="menuname === 'stays'"> <a class="waves-effect waves-dark" (click)="checkActive('stays')" routerLink="stays" aria-expanded="false"><i
                class="fa fa-bank"></i><span class="hide-menu">Process Flow</span></a>
          </li>
          <li [class.active]="menuname === 'carrental'"> <a class="waves-effect waves-dark" (click)="checkActive('carrental')" routerLink="car-rental" aria-expanded="false"><i
                class="fa fa-gear"></i><span class="hide-menu">Setup</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>